# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

name: golangci-lint
on:
    push:
      branches: [ "master" ]
    pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Run golangci-lint
        run: docker run --rm -v $(pwd):/app -w /app golangci/golangci-lint:v2.0 golangci-lint run -v
