# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

name: golangci-lint
on:
    push:
      branches: [ "master" ]
    pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Run golangci-lint
        run: docker run --rm -v $(pwd):/app -w /app golangci/golangci-lint:v2.0 golangci-lint run -v
